

/*background-color:半透明　10進法*/
*{
	
	margin:0px;
	
}
body{
	background-image: url("images/001.png") ;
	background-size: cover;
	
}
p{
	text-align: center;
	font-family:"YuMincho";
	font-size: 16px;
	color: #000;
}

h2{
	text-align: center;
	font-weight: bold;
	font-family:"YuMincho";
	position: relative;
	  color: #333;
	  text-shadow: 0 0 2px white;
	
	
}

h3{
	font-family:"YuMincho";
	font-weight: bold;
	color: #A9A7A7;
	}




.test{
	
	align-content: space-between;
	flex-wrap: wrap;
}

.col-sm-6{
	width: 300px;
	height: 300px;
	background-color: #fff;
}

.py-2{
	width: 100%;
}
.navbar01{
	margin-top: 200px;
	
}
.nav-item{
	text-align:center;
}
.nav_bar{
	width: 100%;
	height: 80px;
	background-color: #ffffff;
	background-color: rgba( 255, 255, 255, 0.45 );
	display: flex;
	justify-content:space-around;
	align-items: center;
	
}

/*----------------------------------------ロゴアニメーション----------------------------------------*/
/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #FFFFFF;
  text-align:center;
  color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width:500px;

	
}

/* fadeUpをするアイコンの動き */

.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}
@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}




/*fotter全体*/
.back{
height: auto;
width: 100%;
background-image:url("images/res_003.png");
}
.text-uppercase{
	color: #fff;
	margin-top: 20px;
	margin-left: -200px;;
	
}
.text-center{
	color: #fff;
}


.btn btn-outline-secondary{
	padding: 6px 50px;
}

/*swiper*/
.swiper-container{
	display:flex;
	align-items:flex-end;
}
/*---------------------------------------- ハンバーガーメニュー ----------------------------------------*/
ul,
li {
  list-style: none;
}
.Hamburger_menu{
	margin-bottom: 60px;
	
}
.Hamburger_menu_font{
	  
	margin-bottom: 0rem;
}
.Hamburger_menu_font:hover{
	color: #EB191C;
	  
	margin-bottom: 0rem;
}
.logo_001{
	width: 310px;
	padding-right: 100px;
}
@media (min-width: 576px){
	.logo_001{
	width: 700px;
		height: 100px;
	padding-right: 300px;
}
	
}
.header {
  background-color: white;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:999;
}

.header__inner {
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: inherit;
  position: relative;
}



/* ヘッダーのロゴ部分 */
.header__title {
  width: 80px;
}


@media screen and (min-width: 960px) {
  .header__title {
    width: 120px;
  }
}

.header__title img {
  display: block;
  width: 100%;
  height: 100%;
}

/* ヘッダーのナビ部分 */

.header__nav {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #fff;
  transition: ease .4s;


}


@media screen and (min-width: 960px) {
  .header__nav {
    position: static;
    transform: initial;
    background-color: inherit;
    height: inherit;
    display: flex;
    justify-content: end;
    width: 50%;
  }
}


@media screen and (min-width: 960px) {
  .nav__items {
    width: 100%;
    display: flex;
    align-items: center;
    height: initial;
    justify-content: space-between;
  }
}

.nav-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}



@media screen and (min-width: 960px) {
  .nav-items {
    position: inherit;
    top: 0;
    left: 0;
    transform: translate(0, 0);

  }
}

/* ナビのリンク */
.nav-items__item a {
  color: black;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 24px;
  color: black;
text-decoration:none;
}

.nav-items__item:last-child a {
  margin-bottom: 0;
}

@media screen and (min-width: 960px) {
  .nav-items__item a {
    margin-bottom: 0;
  }
}


/* ハンバーガーメニュー */

.header__hamburger {
  width: 48px;
  height: 100%;

}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}

@media screen and (min-width: 960px) {
  .hamburger {
    display: none;
  }
}

/* ハンバーガーメニューの線 */
.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: relative;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}


/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;

}

.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
}
/*-------------ヘッダー部分---------------*/
/*width100%　中身が25%*/
.menu{
	position: absolute;
	bottom: 0;
	left:0;
	z-index: 99;	
}
.menu02{
	height:80px;
	background-color: #ffffff;
	background-color: rgba( 255, 255, 255, 0.45 );
	text-align:justify;
	display:flex;
    justify-content: space-evenly;
	align-items:flex-end;
	
}


.swiper--wrapper {
  /* wrapperのサイズを調整 */
  width: 100%;
  height: 300%;
  transition-timing-function: linear;
		position:absolute;
}
.swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;

}
.swiper-slide img:hover{
	
	 opacity: 1;
	
}
/*swiper*/
/*----------------------------------------top (始)　css----------------------------------------*/
.top{
	margin-top: 50px;
}
.intro{
    width: 100%;
	margin: 0 auto;
	
	background-color: #ffffff;
	background-color: rgba( 255, 255, 255, 0.45 );
	padding-top: 30px;
	padding-bottom: 30px;
}
.intro02{
	margin-bottom: 30px;
	font-size: 20px;
	
	
}
.intro02:before{
content: "";
  position: absolute;
  background: #23ACE1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  /* border: dashed 1px white; */
  -webkit-transform: translateY(-50%);
  transform: translate(-20%,-50%);
   z-index: -1;
	
	
	
}
.intro03{
	font-size: 16px;
}



.practiceday{
	background-color: #fff;
	background-color: rgba( 255, 255, 255, 0.45 );
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	
}

.text03{

	margin-right: 10%;
	
	
}
.rennsyubi{
	text-align: center;

	padding-bottom: 30px;
}
.button02{
	text-align: end;
}
.detail{
	text-decoration:underline;
}
.btn-link2 {
    font-weight: 400;
	

}
.btn-link2:hover {
    	opacity: 0.5;
}

.his{
	color: #FFFFFF;
	
	
}
.his02{
	margin-top: 120px;
	color: #FFFFFF;
	font-size: 16px;
	
	
}

.history{
	width: 100%;
	height: 500px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #231815;
	background-image: url("images/011.png");
	background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
	padding-top: 30px;
	padding-bottom: 0px;

	
}
.basic_information{

	width: 100%;
	height: 200px;
	margin-top: 50px;
	background-color: #ffffff;
	background-color: rgba( 255, 255, 255, 0.45 );
	
	background-image: url("images/res_001.png");



	
	
}
.basic_information02{
	width: 100%;
	height: 200px;
	margin-top: 50px;
	background-color: #ffffff;
	background-color: rgba( 255, 255, 255, 0.45 );
	background-image: url("images/res_002.png");

}

/*----------------------------------------top (終)　css----------------------------------------*/



/*----------------------------------------情報 (始)　css----------------------------------------*/
.information{
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
	background-color: rgba( 255, 255, 255, 0.45 );
	text-align: center;
	margin-top: 80px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.infor_01{
	margin-top: 50px;

}

.news01{
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
	text-align: center;
	background-color: rgba( 255, 255, 255, 0.45 );
	margin-top: 50px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.btn01{    
	margin-top: 10px;
	padding-top: 0.975rem;
    padding-right: 10rem;
    padding-bottom: 0.975rem;
    padding-left: 10rem;
	order-radius: 0.25rem;
	background-color: transparent;
    border: 1px solid transparent;
	
	
	
}

.tounament {
	width: 100%;
	margin-top: 50px;
	
	background-color: rgba( 255, 255, 255, 0.45 );
	padding-top: 20px;
	padding-bottom: 20px;
}
.tounament02{
	width: 200px;
	height: 50px;
	background-color: rgba( 0, 0, 0, 0.45 );
	
}
.tounament_font{
	font-size: 30px;
	color: #fff;
	padding: 5px 0px;
}
.tounament_font02{
	font-size: 15px;
	color: #5E5B5B;
}
.Tournament_information01{
	text-align: center;
}
.Tournament_information02{
	width: 400px;;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("images/taikaijouhou.png")

}
.Tournament_information03{
	width: 400px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	background-image:url("images/taikaikekka.png");

}Tournament_name02
tounament_box01/*----------------------------------------情報 (終)　css----------------------------------------*/




/*----------------------------------------入門案内 (始)　css----------------------------------------*/
.practice{
	text-align: center;
}

.introduction{
	width: 100%;
	height:auto;
	background-color: #fff;
	background-color: rgba( 255, 255, 255, 0.45 );
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	
}
.guide{
	text-align: left;
	margin-left: 5%;
	margin-top: 30px;
}
.entry{
	width: 100%;
	background-color: #fff;
	background-color: rgba( 255, 255, 255, 0.45 );
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.entry02{
	text-align: left;
	margin-left: 5%;
	margin-top: 30px;
}
.corona_information{
	width: 100%;
	height: 300px;
	background-color: #fff;
	background-color: rgba( 255, 255, 255, 0.45 );
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.corona02{
	margin-top: 50px;
	
}
.access{
	width: 100%;
	height: auto;
	background-color: #fff;
	text-align: center;
    background-color: rgba( 255, 255, 255, 0.45 );
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 100px;
}
.access02{
	
	margin: 50px;

}
.access03{
	

	

}


.googlemap{
	width: 300px;
	height: 300px;
	margin-left: 40px;
	

	
}

.access04{
	text-align:center;
	padding-top: 100px;
	
}
.pdf01:hover {
		opacity: 0.5 ;
	}

/*----------------------------------------入門案内 (終)　css----------------------------------------*/




/*----------------------------------------指導員 (始)　css----------------------------------------*/
.name{
	font-size: 45px;
	font-weight: bold;
}

.slider01{
	width: 100%;
	height:auto;
	margin-top: 30px;
	
	
}
/*ミニスライダーのcss*/
/*==================================================
スライダーのためのcss
===================================*/
.slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px;/*スライド左右の余白調整*/
}
.slider{
		margin-top: 80px;
}






.col-md-7{
	text-align: center;
	
}
.The_instructor{
	margin-top: 50px;
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	background-color: rgba( 255, 255, 255, 0.45 );
	padding-top: 30px;
	padding-bottom: 30px;
}


.achievement02{
    width: 70%;
	height: 360px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	font-family:"YuMincho";
	line-height: 2.0;
	background-color: rgba( 255, 255, 255, 0.45 );
}
.achievement03{
	width: 350px;
	
}
hr{
 width: 300px;
}
.knowledge01{
	width: 100%;
	background-color: #fff;
	background-color: rgba( 255, 255, 255, 0.45 );
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
	margin-top: 50px;
	
	
}
.knowledge02{
	font-size: 16px;

	
}
.map01{
	width: 100%;
	height:auto;
	background-color: #FFFFFF;
	background-color: rgba( 255, 255, 255, 0.45 );
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.map1-5{
	margin-bottom: 30px;
}
.map06{
	
	height: 300px;
	text-align: center;
	margin-bottom: 50px;
}
.map07{

	height: 300px;
	margin-bottom: 50px;
	
	
}
.map8{
	text-align: left;
	font-size: 15px;
	font-family:"YuMincho";

}
.map09{
	  font-weight: bold;
	margin-bottom: -50px;
	font-family:"YuMincho";
	
}
.map10{
	font-size: 15px;
	font-family:"YuMincho";
	text-align: left;
}
.hr_map{
	width: 450px;
	margin-right: auto;
	margin-left: auto;
	
}
.link01{
	text-decoration:none;
}
.link01:hover{
	opacity: 0.5;
}
/*----------------------------------------指導員 (終)　css----------------------------------------*/



/*----------------------------------------練習日 (始)　css----------------------------------------*/
.practice_time{
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	background-color: rgba( 255, 255, 255, 0.45 );
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.practice_time02{
　　height: auto;
	text-align: center;
	
}
.practice_time04{
	margin-top: 50px;
}
.practice_time_font{

	font-size: 20px;
	
}
.practice_time_font02{
	 margin-top: -30px;
	font-size: 15px;
	
}
/*練習日 (終)　css*/



/*大会情報 (始)　css*/
.tounament001{
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	background-color: rgba( 255, 255, 255, 0.45 );
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.tounament002{
	margin-top: 30px;
}
.Tournament_name{
	font-size: 20px;
	margin-top: 0px;
	
	
}
.Tournament_name02{
	margin-top: -30px;
	font-size: 15px;
	
}
/*----------------------------------------大会情報 (終)　css----------------------------------------*/

/*----------------------------------------大会結果 (始)　css----------------------------------------*/
.Tournament_results{
	width: 100%;
	height:auto;	
	background-color: #FFFFFF;
	background-color: rgba( 255, 255, 255, 0.45 );
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	
	
}
.Tournament_results02{
	width: 400px;
	height:auto;
	margin-top: 30px;

}
.Tournament_results03{
	
	text-align: center;
}
.Tournament_results04{
	margin-left: auto;
	margin-right: auto;
}


/*----------------------------------------大会結果 (終)　css----------------------------------------*/
/*PC用のcss*/
@media (min-width: 768px) { 
 .intro03{
 font-size: 25px;
 
 }
	
.his02{
		font-size: 25px;
}
p{
		font-size: 20px;
}
.knowledge02{
		font-size: 20px;
}
.basic_information{

	width: 100%;
	height: 300px;
	margin-top: 50px;
	background-image: url("images/014.png");
}
.basic_information02{
	width: 100%;
	height: 300px;
	margin-top: 50px;
	background-image: url("images/015.png");

}	
.back{
height: auto;
	width: 100%;
background-image: url("images/fotter_image.png");
}
	.intro02{
	margin-bottom: 30px;
		font-size: 30px;
	
	
}
.intro02:before{
content: "";
  position: absolute;
  background: #23ACE1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  /* border: dashed 1px white; */
  -webkit-transform: translateY(-50%);
  transform: translate(-20%,-50%);
   z-index: -1;
	
	
	
}
	.btn01{    
	margin-top: 10px;
	padding-top: 0.975rem;
    padding-right: 15rem;
    padding-bottom: 0.975rem;
    padding-left: 15rem;
	order-radius: 0.25rem;
	background-color: transparent;
    border: 1px solid transparent;
	
	
	
}
	.practice_time_font{

	font-size: 30px;
	
}
.practice_time_font02{
	 margin-top: -30px;
	font-size: 20px;
	
}
	.Tournament_name{
	font-size: 30px;
	margin-top: 0px;
	
	
}
.Tournament_name02{
	margin-top: -30px;
	font-size: 20px;
	
}
	.map07{

	height: 300px;
	margin-bottom: 50px;

		
	
}
	.hr_map{
	width:300px;
		text-align: center;
	
	
}
	.practice{
	text-align: center;
}
	
	.Tournament_information02{
	width: 500px;;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("images/taikaijouhou.png")

}
.Tournament_information03{
	width: 500px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-image:url("images/taikaikekka.png");

}
	.Tournament_results04{
	
		
		
	}
	.Tournament_results05{
		width: 300px;
		height: 200px;
		background-color: #FF0004;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 50px;
		
	}
	.tounament_font{
	font-size: 40px;
	color: #fff;
	padding: 5px 0px;
}
	.tounament02{
	width: 300px;
	height: 60px;
	background-color: rgba( 0, 0, 0, 0.45 );
	
}
	.googlemap{
	width: 450px;
	height: 450px;
	margin-left: 50px;


	
}
	.achievement03{
	width:100%;
	
}

}


@media (min-width: 576px) { 
	.basic_information{

	width: 100%;
	height: 300px;
	margin-top: 50px;
	background-image: url("images/014.png");
}
.basic_information02{
	width: 100%;
	height: 300px;
	margin-top: 50px;
	background-image: url("images/015.png");

}	
.back{
height: auto;
width: 100%;
background-image: url("images/fotter_image.png");
}
	
	.btn01{    
	margin-top: 10px;
	padding-top: 0.975rem;
    padding-right: 10rem;
    padding-bottom: 0.975rem;
    padding-left: 10rem;
	order-radius: 0.25rem;
	background-color: transparent;
    border: 1px solid transparent;
	
	
	
}
}
@media (min-width: 1500px) { 
		.basic_information{

	width: 100%;
	height: 400px;
	margin-top: 50px;
	background-image: url("images/08-2.png");
}
	.basic_information02{
	width: 100%;
	height: 400px;
	margin-top: 50px;
	background-image: url("images/08-3.png");

}	
	.back{
height: 220px;
width: 100%;
background-image: url("images/res_004.png");
	}
}
	@media (min-width: 1600px) { 
			.basic_information{

	width: 100%;
	height: 400px;
	margin-top: 50px;
	background-image: url("images/09-2.png");
	
	}	
			.basic_information02{
	width: 100%;
	height: 400px;
	margin-top: 50px;
	background-image: url("images/09-3.png");

}	
}
